<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间,包含+SQL映射文件名-->
<mapper namespace="com.test.mapper.CategoryMapper">

    <resultMap id="CategoryResultMap" type="category">
        <result column="id" property="cid"/>
    </resultMap>

    <select id="findCategoryByIdTest" resultMap="CategoryResultMap">
        select *
        from  book_info
        where id = #{cid};
    </select>

    <insert id="addCategory" useGeneratedKeys="true" keyProperty="cid">
        insert into book_info (cname, book_describe)
        VALUES (#{cname}, #{book_describe})
    </insert>

    <update id="updateCategory">
        update book_info
        <set>
            <if test="cname != null and cname != ''">
                cname = #{cname},
            </if>
            <if test="book_describe != null and book_describe != ''">
                book_describe = #{book_describe},
            </if>
        </set>
        where id = #{cid}
    </update>
</mapper>